body {
    margin: 0;
}


.blue {
    width: 100%;
    height: 535px;
    background: #1F2937;
}

.box {
    width: 1022px;
    height: 535px;
    margin: 0 auto;
    position: relative;
    padding-top: 23px;
}    

/* Everything inside the first container */

.navigation {
    display: block; 
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 26px;
    float: right;
    vertical-align: center;
    margin-right: 20px;
    
}

.navigation a {
    text-decoration: none;
    color: #e5e7eb;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    list-style-type: none;
}

.logo {
    display: inline-block;
    vertical-align: center;
    width: 152px;
    height: 60px;
    margin-left: 20px;
}

.text {
    display: inline-block;
    vertical-align: center;
    margin-left: 20px;
}

.text h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    width: 450px;
    padding-top: 100px;
    margin: 0 auto;
}

.text p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
    width: 430px;
    margin-top: 0;
}

.button {
    display: table-cell;
    margin-top: 20px;
    background: #3B82F6;
    border-radius: 7px;
    border-style: none;
    width: 130px;
    height: 37px;
    text-align: center;
    vertical-align: middle;
}

.button a {
    text-decoration: none;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}

.container {
    display: flex;
    align-items: center;
    float: right;
    padding-top: 100px;
    margin-right: 20px;
}

/* Everything inside the second container */

.white {
    width: 100%;
    height: 535px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #1F2937;
    font-weight: 700;
    margin-top: 0;
}

.pictures {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
}    

.img-container {
    padding: 30px;
}

.pictures img {
    border: #b7c9e3 solid 4px;
    border-radius: 15px;
}

.img-container p {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #4B5563;
    margin-top: 0;
    font-size: 18px;
    max-inline-size: fit-content;
    text-align: center;
    padding-top: 10px;
}